.gallery-item .rating {
  margin-top: -5px;
  color: rgba(255, 255, 255, 0.3);
}
.gallery-item .rating > .rated {
  color: #ffffff;
}
.gallery-item .item-info {
  -webkit-transform: translate3d(0, 40%, 0);
  transform: translate3d(0, 40%, 0);
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
}
.gallery-item .item-info.more-content {
  -webkit-transform: translate3d(0, 32%, 0);
  transform: translate3d(0, 32%, 0);
}
.gallery-item:hover .item-info {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.gallery-item:hover > img {
  opacity: 0.6;
}
.gallery-item:hover > .live-tile img {
  opacity: 0.6;
}
.gallery-item:active .item-info {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.gallery-item:active > img {
  opacity: 0.6;
}
.item-details {
  z-index: 1050;
}
.item-details .dialog__content {
  width: 845px;
  max-width: 845px;
  padding: 0;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.item-details .dialog__content .dialog__overview {
  height: 516px;
  position: relative;
}
.item-details .dialog__content .dialog__overview .buy-now {
  position: absolute;
  bottom: 20px;
  right: 35px;
}
.item-details .dialog__content .dialog__overview .item-slideshow .slide {
  width: 516px;
  height: 516px;
  display: block;
  overflow: hidden;
}
.item-details .dialog__content .dialog__footer {
  height: 75px;
}
.item-details .dialog__content .dialog__footer .price {
  margin: 0;
  padding: 0;
  line-height: 75px;
}
.item-details .dialog__content .dialog__footer .separator {
  position: relative;
}
.item-details .dialog__content .dialog__footer .separator:after {
  content: "";
  width: 1px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  height: 27px;
  right: 0;
  top: 24px;
}
.item-details .dialog__content .dialog__footer .recommended li {
  overflow: hidden;
}
.item-details .dialog__content .dialog__footer .recommended li a {
  width: 56px;
  height: 56px;
  display: block;
}
.item-details .dialog__content .dialog__footer .recommended li img {
  width: 100%;
}
.item-details .dialog__content .close {
  top: 15px;
  right: 15px;
  z-index: 100;
}
.item-details .owl-nav {
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  opacity: .7;
  font-size: 18px;
  padding: 0 20px;
}
.item-details .owl-nav .owl-prev {
  float: left;
}
.item-details .owl-nav .owl-next {
  float: right;
}
.item-details .owl-dots {
  bottom: 23px;
  position: absolute;
  right: 23px;
}
.item-details .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  margin-left: 6px;
}
.item-details .owl-dots .owl-dot.active {
  background: #fff;
}
.gallery-filters {
  position: absolute;
  left: 0;
  right: 0;
  height: 70px;
  top: -70px;
}
@media (max-width: 920px) {
  .gallery-item.first {
    display: none;
  }
}
@media (max-width: 767px) {
  .item-details .dialog__content {
    height: 90%;
    overflow-y: auto;
    width: 400px;
    max-width: 400px;
  }
  .item-details .dialog__content .container-fluid {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .item-details .dialog__content .dialog__overview {
    height: 100%;
    margin-right: -30px;
    margin-left: -30px;
  }
  .item-details .item-slideshow-wrapper {
    height: 515px !important;
  }
  .item-details .item-description {
    height: auto !important;
  }
  .item-details .item-description .buy-now {
    position: static !important;
    float: right;
    margin-bottom: 20px;
  }
  .item-details .item-slideshow .owl-stage-outer,
  .item-details .item-slideshow .owl-stage {
    height: 100%;
  }
  .item-details .item-slideshow .slide {
    width: 100% !important;
  }
}
@media (max-width: 420px) {
  .gallery {
    margin-top: 80px;
  }
  .gallery-filters {
    top: -90px;
  }
  .item-details .dialog__content {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 610px) {
  .gallery-item,
  .gallery {
    width: 100% !important;
  }
}
@media (min-width: 768px) {
  .item-details .dialog__content .container-fluid > .row {
    /*margin-left: -30px;*/
    margin-right: -30px;
  }
}

/* CSS KETERANGAN 
------------------------------------
*/
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.no-overflow {
  overflow: hidden !important;
}
.auto-overflow {
  overflow: auto;
}
.center-margin {
  margin-left: auto;
  margin-right: auto;
}
.inherit-size {
  width: inherit;
  height: inherit;
}
.inherit-height {
  height: inherit;
}
.image-responsive-height {
  width: 100%;
}
.image-responsive-width {
  height: 100%;
}
.overlayer {
  position: absolute;
  display: block;
  z-index: 21;
}
.overlayer.fullwidth {
  width: 100%;
}
.overlayer-wrapper {
  position: relative;
  display: block;
  z-index: 10;
}
.overlay-fixed {
  position: fixed !important;
  top: auto !important;
}
.top-left {
  position: absolute !important;
  top: 0;
  left: 0;
}
.top-right {
  position: absolute !important;
  top: 1px;
  right: 0;
}
.bottom-left {
  position: absolute !important;
  bottom: 1px;
  left: 0;
}
.bottom-right {
  position: absolute !important;
  bottom: 0;
  right: 0;
}
.pull-bottom {
  position: absolute !important;
  bottom: 0;
}
.pull-up {
  position: absolute !important;
  top: 0;
}
.cursor {
  cursor: pointer;
}
.scroll-x-hidden {
  overflow-x: hidden !important;
}












/* TATA LETAK UNTUK KETERANGAN
------------------------------------
*/
.p-t-5 {
  padding-top: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.padding-5 {
  padding: 5px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.padding-10 {
  padding: 10px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.padding-15 {
  padding: 15px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.padding-20 {
  padding: 20px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.padding-25 {
  padding: 25px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.padding-30 {
  padding: 30px !important;
}
.p-t-35 {
  padding-top: 35px !important;
}
.p-r-35 {
  padding-right: 35px !important;
}
.p-l-35 {
  padding-left: 35px !important;
}
.p-b-35 {
  padding-bottom: 35px !important;
}
.padding-35 {
  padding: 35px !important;
}
.p-t-40 {
  padding-top: 40px !important;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-b-40 {
  padding-bottom: 40px !important;
}
.padding-40 {
  padding: 40px !important;
}
.p-t-45 {
  padding-top: 45px !important;
}
.p-r-45 {
  padding-right: 45px !important;
}
.p-l-45 {
  padding-left: 45px !important;
}
.p-b-45 {
  padding-bottom: 45px !important;
}
.padding-45 {
  padding: 45px !important;
}
.p-t-50 {
  padding-top: 50px !important;
}
.p-r-50 {
  padding-right: 50px !important;
}
.p-l-50 {
  padding-left: 50px !important;
}
.p-b-50 {
  padding-bottom: 50px !important;
}
.padding-50 {
  padding: 50px !important;
}
.p-t-55 {
  padding-top: 55px !important;
}
.p-r-55 {
  padding-right: 55px !important;
}
.p-l-55 {
  padding-left: 55px !important;
}
.p-b-55 {
  padding-bottom: 55px !important;
}
.padding-55 {
  padding: 55px !important;
}
.p-t-60 {
  padding-top: 60px !important;
}
.p-r-60 {
  padding-right: 60px !important;
}
.p-l-60 {
  padding-left: 60px !important;
}
.p-b-60 {
  padding-bottom: 60px !important;
}
.padding-60 {
  padding: 60px !important;
}
.p-t-65 {
  padding-top: 65px !important;
}
.p-r-65 {
  padding-right: 65px !important;
}
.p-l-65 {
  padding-left: 65px !important;
}
.p-b-65 {
  padding-bottom: 65px !important;
}
.padding-65 {
  padding: 65px !important;
}
.p-t-70 {
  padding-top: 70px !important;
}
.p-r-70 {
  padding-right: 70px !important;
}
.p-l-70 {
  padding-left: 70px !important;
}
.p-b-70 {
  padding-bottom: 70px !important;
}
.padding-70 {
  padding: 70px !important;
}
.p-t-75 {
  padding-top: 75px !important;
}
.p-r-75 {
  padding-right: 75px !important;
}
.p-l-75 {
  padding-left: 75px !important;
}
.p-b-75 {
  padding-bottom: 75px !important;
}
.padding-75 {
  padding: 75px !important;
}
.p-t-80 {
  padding-top: 80px !important;
}
.p-r-80 {
  padding-right: 80px !important;
}
.p-l-80 {
  padding-left: 80px !important;
}
.p-b-80 {
  padding-bottom: 80px !important;
}
.padding-80 {
  padding: 80px !important;
}
.p-t-85 {
  padding-top: 85px !important;
}
.p-r-85 {
  padding-right: 85px !important;
}
.p-l-85 {
  padding-left: 85px !important;
}
.p-b-85 {
  padding-bottom: 85px !important;
}
.padding-85 {
  padding: 85px !important;
}
.p-t-90 {
  padding-top: 90px !important;
}
.p-r-90 {
  padding-right: 90px !important;
}
.p-l-90 {
  padding-left: 90px !important;
}
.p-b-90 {
  padding-bottom: 90px !important;
}
.padding-90 {
  padding: 90px !important;
}
.p-t-95 {
  padding-top: 95px !important;
}
.p-r-95 {
  padding-right: 95px !important;
}
.p-l-95 {
  padding-left: 95px !important;
}
.p-b-95 {
  padding-bottom: 95px !important;
}
.padding-95 {
  padding: 95px !important;
}
.p-t-100 {
  padding-top: 100px !important;
}
.p-r-100 {
  padding-right: 100px !important;
}
.p-l-100 {
  padding-left: 100px !important;
}
.p-b-100 {
  padding-bottom: 100px !important;
}
.padding-100 {
  padding: 100px !important;
}



/* Generic Margin Helpers
------------------------------------
 */
.m-t-0 {
  margin-top: 0px;
}
.m-r-0 {
  margin-right: 0px;
}
.m-l-0 {
  margin-left: 0px;
}
.m-b-0 {
  margin-bottom: 0px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-r-35 {
  margin-right: 35px;
}
.m-l-35 {
  margin-left: 35px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-t-45 {
  margin-top: 45px;
}
.m-r-45 {
  margin-right: 45px;
}
.m-l-45 {
  margin-left: 45px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-l-50 {
  margin-left: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-t-55 {
  margin-top: 55px;
}
.m-r-55 {
  margin-right: 55px;
}
.m-l-55 {
  margin-left: 55px;
}
.m-b-55 {
  margin-bottom: 55px;
}
.m-t-60 {
  margin-top: 60px;
}
.m-r-60 {
  margin-right: 60px;
}
.m-l-60 {
  margin-left: 60px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-t-65 {
  margin-top: 65px;
}
.m-r-65 {
  margin-right: 65px;
}
.m-l-65 {
  margin-left: 65px;
}
.m-b-65 {
  margin-bottom: 65px;
}
.m-t-70 {
  margin-top: 70px;
}
.m-r-70 {
  margin-right: 70px;
}
.m-l-70 {
  margin-left: 70px;
}
.m-b-70 {
  margin-bottom: 70px;
}
.m-t-75 {
  margin-top: 75px;
}
.m-r-75 {
  margin-right: 75px;
}
.m-l-75 {
  margin-left: 75px;
}
.m-b-75 {
  margin-bottom: 75px;
}
.m-t-80 {
  margin-top: 80px;
}
.m-r-80 {
  margin-right: 80px;
}
.m-l-80 {
  margin-left: 80px;
}
.m-b-80 {
  margin-bottom: 80px;
}
.m-t-85 {
  margin-top: 85px;
}
.m-r-85 {
  margin-right: 85px;
}
.m-l-85 {
  margin-left: 85px;
}
.m-b-85 {
  margin-bottom: 85px;
}
.m-t-90 {
  margin-top: 90px;
}
.m-r-90 {
  margin-right: 90px;
}
.m-l-90 {
  margin-left: 90px;
}
.m-b-90 {
  margin-bottom: 90px;
}
.m-t-95 {
  margin-top: 95px;
}
.m-r-95 {
  margin-right: 95px;
}
.m-l-95 {
  margin-left: 95px;
}
.m-b-95 {
  margin-bottom: 95px;
}
.m-t-100 {
  margin-top: 100px;
}
.m-r-100 {
  margin-right: 100px;
}
.m-l-100 {
  margin-left: 100px;
}
.m-b-100 {
  margin-bottom: 100px;
}
.full-height {
  height: 100% !important;
}
.full-width {
  width: 100%;
}
.hide {
  display: none;
}
.inline {
  display: inline-block !important;
}
.block {
  display: block;
}
.b-blank {
  border-color: #000;
}
/* Border Helpers 
------------------------------------
*/
.b-a,
.b-r,
.b-l,
.b-t,
.b-b {
  border-style: solid;
  border-width: 0;
}
.b-r {
  border-right-width: 1px;
}
.b-l {
  border-left-width: 1px;
}
.b-t {
  border-top-width: 1px;
}
.b-b {
  border-bottom-width: 1px;
}
.b-a {
  border-width: 1px;
}
.b-dashed {
  border-style: dashed;
}
.b-thick {
  border-width: 2px;
}
.b-transparent {
  border-color: rgba(0, 0, 0, 0.4);
}
.b-transparent-white {
  border-color: rgba(255, 255, 255, 0.3);
}
.b-grey {
  border-color: #e6e6e6;
}
.b-white {
  border-color: #fff;
}
.b-primary {
  border-color: #6d5cae;
}
.b-complete {
  border-color: #6d5cae;
}
.b-success {
  border-color: #10cfbd;
}
.b-info {
  border-color: #3b4752;
}
.b-danger {
  border-color: #f55753;
}
.b-warning {
  border-color: #f8d053;
}
/* Border Radius
------------------------------------
*/
.b-rad-sm {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.b-rad-md {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.b-rad-lg {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.no-border {
  border: none !important;
}
/** Profile Wrappers **/
.profile-img-wrapper {
  float: left;
  border-radius: 100px 100px 100px 100px;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  width: 35px;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
.profile-img-wrapper.big {
  height: 68px;
  width: 68px;
}
.profile-img-wrapper.with-left-space-custom {
  margin-left: 7px;
}
.relative {
  position: relative;
}
/* Demo Purposes */
.icon-set-preview {
  transition: opacity 0.1s linear;
}
#icon-list {
  transition: all 0.1s ease-in-out;
}
.error-number {
  font-family: 'Montserrat';
  font-size: 90px;
  line-height: 90px;
}
.error-container-innner {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}
.error-container {
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  width: 38%;
}
.visible-xlg {
  display: none;
}
.hidden-xlg {
  display: block;
}
.sm-gutter .row > [class^="col-"],
.sm-gutter .row > [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.sm-gutter .row {
  margin-left: -5px;
  margin-right: -5px;
}
/* Aspect ratio */
.ar-1-1 .panel,
.ar-2-1 .panel,
.ar-1-2 .panel,
.ar-3-2 .panel,
.ar-2-3 .panel {
  margin: 0;
}
.ar-1-1 {
  position: relative;
  width: 100%;
  /* desired width */
  overflow: hidden;
}
.ar-1-1:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}
.ar-1-1 > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.ar-2-1 {
  position: relative;
  width: 100%;
  /* desired width */
  overflow: hidden;
}
.ar-2-1:before {
  content: "";
  display: block;
  padding-top: calc(50% -  5px);
  /* initial ratio of 1:1*/
}
.ar-2-1 > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.ar-1-2 {
  position: relative;
  width: 100%;
  /* desired width */
  overflow: hidden;
}
.ar-1-2:before {
  content: "";
  display: block;
  padding-top: calc(150% -  5px);
  /* initial ratio of 1:1*/
}
.ar-1-2 > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.ar-3-2 {
  position: relative;
  width: 100%;
  /* desired width */
  overflow: hidden;
}
.ar-3-2:before {
  content: "";
  display: block;
  padding-top: calc(75% -  5px);
  /* initial ratio of 1:1*/
}
.ar-3-2 > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.ar-2-3 {
  position: relative;
  width: 100%;
  /* desired width */
  overflow: hidden;
}
.ar-2-3:before {
  content: "";
  display: block;
  padding-top: calc(125% -  5px);
  /* initial ratio of 1:1*/
}
.ar-2-3 > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.v-align-bottom {
  vertical-align: bottom;
}
.v-align-top {
  vertical-align: top;
}
.v-align-middle {
  vertical-align: middle;
}
/* vertical alignment styles */
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
/* columns of same height styles 
------------------------------------
*/
.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.row-xs-height {
  display: table-row;
}
.col-xs-height {
  display: table-cell;
  float: none;
}
@media (min-width: 768px) {
  .container-sm-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  .row-sm-height {
    display: table-row;
  }
  .col-sm-height {
    display: table-cell !important;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  .row-md-height {
    display: table-row;
  }
  .col-md-height {
    display: table-cell !important;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  .row-lg-height {
    display: table-row;
  }
  .col-lg-height {
    display: table-cell !important;
    float: none !important;
  }
}
/*------------------------------------------------------------------
[29. Print]
*/
@media print {
  .header,
  .page-sidebar,
  .quickview-wrapper,
  .overlay {
    display: none;
  }
  .page-container {
    padding-left: 0;
  }
  .page-content-wrapper .content {
    border-top: 0;
  }
  .page-content-wrapper .content .panel {
    border: none;
  }
  .page-content-wrapper .content .panel .panel-body {
    padding: 0;
  }
  [class^='padding-'],
  [class*='padding-'],
  .table tbody tr td {
    padding: 10px;
  }
}
/*------------------------------------------------------------------
[30. Demo : Only for demo pursposes]
*/
.builder {
  width: 423px;
  right: -423px;
}
.builder > div {
  height: calc(100% - 12px);
}
.builder a {
  position: relative;
  display: block;
  width: 100%;
  color: #a1a1a1;
}
.builder a > img {
  opacity: 0.33;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.builder a.active {
  color: #626262;
}
.builder a.active > img {
  opacity: 0.87;
}
.builder a.active:before {
  background-image: url('../../assets/img//demo/tick.svg');
  width: 23px;
  height: 23px;
  content: '';
  position: absolute;
  top: 84px;
  right: -10px;
  z-index: 10;
}
.builder a:hover {
  color: #818181;
}
.builder a:hover > img {
  opacity: 0.7;
}
.builder .builder-footer {
  right: 0;
  left: 0;
  z-index: 10;
}
.builder .theme-selector.active:before {
  top: 54px;
  right: 10px;
}
.builder .nav-tabs {
  background-color: transparent;
  padding: 0;
}
.builder .nav-tabs > li > a {
  min-width: 99px;
  padding: 16px 0;
}
.builder .nav-tabs ~ .tab-content {
  position: relative;
  padding-right: 0px;
  height: 100%;
  top: 0;
}
.builder .nav-tabs ~ .tab-content .tab-pane {
  height: 100%;
  overflow-x: hidden !important;
}
.builder .nav-tabs ~ .tab-content .tab-pane .scrollable {
  padding-top: 27px;
  height: calc(100% - 47px);
  overflow-x: hidden !important;
}
.builder .builder-close {
  position: absolute;
  right: 36px;
  top: 20px;
  padding: 7px;
  width: auto;
  z-index: 10;
}
.builder .builder-toggle {
  position: absolute;
  width: 54px;
  height: 50px;
  top: 20%;
  left: -48px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.builder:before {
  position: absolute;
  content: '';
  width: 48px;
  height: 50px;
  background-color: #fff;
  top: 20%;
  left: -47px;
  box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);
  border-left: 1px solid rgba(222, 227, 231, 0.56);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.builder:after {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 5px;
  height: 50px;
  left: 0;
  top: 20%;
}
.builder .btn-toggle-theme > img {
  opacity: 1 !important;
}
.builder .btn-toggle-theme p {
  line-height: 18px;
}
.content-builder {
  display: none;
}
.content-builder.active {
  display: block;
}
.content-builder .placeholder {
  position: relative;
}
.content-builder .placeholder:after {
  content: "Content goes here";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  right: 0;
  text-align: center;
  font-size: 26px;
  opacity: .16;
  color: #626262;
}
.previewer {
  height: 35px;
}
/* Demo Widths For GIF Animations 
------------------------------------
*/
.demo-bg-hinted {
  background-color: #939393;
}
.demo-fs-23 {
  font-size: 23px !important;
}
.demo-mw-50 {
  max-width: 50px;
}
.demo-mw-300 {
  max-width: 300px;
}
.demo-mw-350 {
  max-width: 350px;
}
.demo-mw-400 {
  max-width: 400px;
}
.demo-mw-500 {
  max-width: 500px;
}
.demo-mw-600 {
  max-width: 600px;
}
.demo-container {
  height: 2000px;
}
.visible-xlg {
  display: none;
}
.hidden-xlg {
  display: block;
}
/*** Large screens ***/
@media (min-width: 1824px) {
  .visible-xlg {
    display: block !important;
  }
  .hidden-xlg {
    display: none !important;
  }
  .quickview-wrapper .tab-content #quickview-notes > .inner {
    width: 570px;
  }
  .container-fluid.container-fixed-lg {
    width: 1700px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu-pin .container-fluid.container-fixed-lg {
    width: 1450px;
  }
  .visible-xlg {
    display: block !important;
  }
  .hidden-xlg {
    display: none !important;
  }
  .col-xlg-1,
  .col-xlg-2,
  .col-xlg-3,
  .col-xlg-4,
  .col-xlg-5,
  .col-xlg-6,
  .col-xlg-7,
  .col-xlg-8,
  .col-xlg-9,
  .col-xlg-10,
  .col-xlg-11 {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  .col-xlg-12 {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
  }
  .col-xlg-11 {
    width: 91.6667%;
  }
  .col-xlg-10 {
    width: 83.3333%;
  }
  .col-xlg-9 {
    width: 75%;
  }
  .col-xlg-8 {
    width: 66.6667%;
  }
  .col-xlg-7 {
    width: 58.3333%;
  }
  .col-xlg-6 {
    width: 50%;
  }
  .col-xlg-5 {
    width: 41.6667%;
  }
  .col-xlg-4 {
    width: 33.3333%;
  }
  .col-xlg-3 {
    width: 25%;
  }
  .col-xlg-2 {
    width: 16.6667%;
  }
  .col-xlg-1 {
    width: 8.33333%;
  }
  .col-xlg-pull-12 {
    right: 100%;
  }
  .col-xlg-pull-11 {
    right: 91.6667%;
  }
  .col-xlg-pull-10 {
    right: 83.3333%;
  }
  .col-xlg-pull-9 {
    right: 75%;
  }
  .col-xlg-pull-8 {
    right: 66.6667%;
  }
  .col-xlg-pull-7 {
    right: 58.3333%;
  }
  .col-xlg-pull-6 {
    right: 50%;
  }
  .col-xlg-pull-5 {
    right: 41.6667%;
  }
  .col-xlg-pull-4 {
    right: 33.3333%;
  }
  .col-xlg-pull-3 {
    right: 25%;
  }
  .col-xlg-pull-2 {
    right: 16.6667%;
  }
  .col-xlg-pull-1 {
    right: 8.33333%;
  }
  .col-xlg-pull-0 {
    right: 0;
  }
  .col-xlg-push-12 {
    left: 100%;
  }
  .col-xlg-push-11 {
    left: 91.6667%;
  }
  .col-xlg-push-10 {
    left: 83.3333%;
  }
  .col-xlg-push-9 {
    left: 75%;
  }
  .col-xlg-push-8 {
    left: 66.6667%;
  }
  .col-xlg-push-7 {
    left: 58.3333%;
  }
  .col-xlg-push-6 {
    left: 50%;
  }
  .col-xlg-push-5 {
    left: 41.6667%;
  }
  .col-xlg-push-4 {
    left: 33.3333%;
  }
  .col-xlg-push-3 {
    left: 25%;
  }
  .col-xlg-push-2 {
    left: 16.6667%;
  }
  .col-xlg-push-1 {
    left: 8.33333%;
  }
  .col-xlg-push-0 {
    left: 0;
  }
  .col-xlg-offset-12 {
    margin-left: 100%;
  }
  .col-xlg-offset-11 {
    margin-left: 91.6667%;
  }
  .col-xlg-offset-10 {
    margin-left: 83.3333%;
  }
  .col-xlg-offset-9 {
    margin-left: 75%;
  }
  .col-xlg-offset-8 {
    margin-left: 66.6667%;
  }
  .col-xlg-offset-7 {
    margin-left: 58.3333%;
  }
  .col-xlg-offset-6 {
    margin-left: 50%;
  }
  .col-xlg-offset-5 {
    margin-left: 41.6667%;
  }
  .col-xlg-offset-4 {
    margin-left: 33.3333%;
  }
  .col-xlg-offset-3 {
    margin-left: 25%;
  }
  .col-xlg-offset-2 {
    margin-left: 16.6667%;
  }
  .col-xlg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xlg-offset-0 {
    margin-left: 0;
  }
}
/*** Desktops ***/
/*** Medium Size Screen ***/
@media only screen and (max-width: 1400px) {
  .page-sidebar .page-sidebar-inner .sidebar-slide .sidebar-menu {
    bottom: 50px;
  }
  .page-sidebar .page-sidebar-inner .sidebar-slide .sidebar-widgets {
    display: none;
  }
  .footer-widget {
    padding: 11px 21px !important;
  }
}
/*** Desktops & Laptops ***/
@media only screen and (min-width: 980px) {
  body.ie9.menu-pin .page-sidebar {
    transform: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
  }
  body.menu-pin {
    overflow-x: hidden;
  }
  body.menu-pin .header .brand {
    width: 245px;
  }
  body.menu-pin .page-container {
    padding-left: 0;
  }
  body.menu-pin .page-container .page-content-wrapper .content {
    padding-left: 250px;
  }
  body.menu-pin .page-container .page-content-wrapper .footer {
    left: 250px;
  }
  body.menu-pin [data-toggle-pin="sidebar"] > i:before {
    content: "\f192";
  }
  body.menu-pin .page-sidebar {
    transform: translate(210px, 0) !important;
    -webkit-transform: translate(210px, 0) !important;
    -ms-transform: translate(210px, 0) !important;
    width: 250px;
  }
  body.menu-pin .page-sidebar .sidebar-header .sidebar-header-controls {
    transform: translateX(18px);
    -webkit-transform: translateX(18px);
  }
  body.menu-pin .page-sidebar .menu-items .icon-thumbnail {
    transform: translate3d(-14px, 0, 0);
    -webkit-transform: -webkit-translate3d(-14px, 0, 0);
  }
  body.menu-behind .page-sidebar {
    z-index: 799;
  }
  body.menu-behind .header .brand {
    width: 200px;
    text-align: left;
    padding-left: 20px;
  }
  body.box-layout {
    background-color: #ffffff;
  }
  body.box-layout > .container {
    height: 100%;
    padding: 0;
    background-color: #fafafa;
  }
  body.box-layout .header {
    background-color: transparent;
    border: 0;
    padding: 0;
  }
  body.box-layout .header > .container {
    background-color: #fff;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    padding: 0 20px 0 0;
  }
  body.box-layout .page-sidebar {
    left: auto;
    transform: none !important;
    -webkit-transform: none !important;
  }
  body.box-layout .page-container .page-content-wrapper .footer {
    width: auto;
  }
  .header .brand {
    position: relative;
  }
  .header .user-info-wrapper .user-details .user-name {
    font-size: 16px;
  }
  .header .user-info-wrapper .user-details .user-other {
    font-size: 10px;
  }
  .header .user-info-wrapper .user-pic {
    position: relative;
    top: -6px;
  }
  .notification-panel {
    width: 400px;
  }
}
/*** General Small Screen Desktops ***/
/*** General tablets and phones ***/
@media (max-width: 991px) {
  .page-container {
    padding-left: 0;
  }
  body.sidebar-open .page-container {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    -ms-transform: translate(250px, 0);
    overflow: hidden;
    position: fixed;
  }
  body.box-layout > .container {
    padding: 0;
    height: 100%;
  }
  body.box-layout .header > .container {
    padding: 0;
  }
  body.box-layout .header > .container .pull-right .sm-action-bar {
    right: 0;
  }
  .header {
    padding: 0 10px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    background: #fff !important;
  }
  .header .header-inner {
    text-align: center;
  }
  .header .header-inner .toggle-sidebar {
    display: block;
    position: absolute;
    left: 23px;
  }
  .header .header-inner .mark-email {
    left: 45px;
    position: absolute;
    top: 23px;
  }
  .header .header-inner .quickview-link {
    position: absolute;
    right: 0;
    top: 12px;
  }
  .header .brand {
    width: auto;
  }
  .header .notification-list,
  .header .search-link {
    display: none;
  }
  .header > .pull-left,
  .header > .pull-right {
    position: relative;
  }
  .header > .pull-right .sm-action-bar {
    right: 0;
  }
  .sm-action-bar {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
  }
  .sm-action-bar > a {
    padding: 10px;
    display: inline-block;
  }
  .pace .pace-activity {
    top: 60px;
  }
  .page-sidebar {
    width: 250px;
    z-index: auto;
    left: 0 !important;
    -webkit-transform: translate3d(0, 0px, 0px) !important;
    transform: translate3d(0, 0px, 0px) !important;
  }
  .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li {
    padding: 0px 30px 0 36px;
  }
  .page-container {
    padding-left: 0;
    z-index: 100;
    position: relative;
    transition: transform .25s ease;
    -webkit-transition: -webkit-transform 0.25s ease;
  }
  .page-container .page-content-wrapper .content {
    overflow-x: hidden;
    height: auto;
  }
  .icon-thumbnail {
    margin-right: 24px;
  }
  .page-sidebar {
    display: none;
    z-index: auto;
  }
  .page-sidebar.visible {
    display: block;
  }
  .page-sidebar .page-sidebar-inner {
    z-index: 1;
    left: 0 !important;
    width: 260px;
  }
  .page-sidebar .page-sidebar-inner .sidebar-slide .sidebar-menu {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    top: 40px;
    bottom: 0;
  }
  .page-sidebar .page-sidebar-inner .sidebar-slide .sidebar-menu ul > li > a > .badge {
    display: inline-block;
  }
  .breadcrumb {
    padding-left: 15px;
    padding-right: 15px;
  }
  .copyright {
    padding-left: 15px;
    padding-right: 15px;
  }
  body > .pgn-wrapper[data-position="top"] {
    top: 48px;
    left: 0;
  }
  body > .pgn-wrapper[data-position="bottom"] {
    left: 0;
  }
  body > .pgn-wrapper[data-position$='-left'] {
    left: 20px;
    right: auto;
  }
  .sm-table {
    display: table;
    width: 100%;
  }
  .user-profile-wrapper {
    position: absolute;
    right: 50px;
    top: -9px;
  }
}
/* Landscape view of all tablet devices */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .page-sidebar .sidebar-menu .menu-items ul {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
  .page-container .page-content-wrapper .content {
    padding-top: 60px;
  }
  body.box-layout > .container {
    width: 100%;
  }
  .error-page .error-container {
    width: auto;
  }
}
@media (max-width: 991px) {
  .sm-b-r,
  .sm-b-l,
  .sm-b-t,
  .sm-b-b {
    border-width: 0;
  }
  .sm-b-r {
    border-right-width: 1px;
  }
  .sm-b-l {
    border-left-width: 1px;
  }
  .sm-b-t {
    border-top-width: 1px;
  }
  .sm-b-b {
    border-bottom-width: 1px;
  }
}
@media (min-width: 1200px) {
  .row-same-height {
    overflow: hidden;
  }
  .row-same-height > [class*="col-lg"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}
@media (min-width: 992px) {
  .row-same-height {
    overflow: hidden;
  }
  .row-same-height > [class*="col-md"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}
@media (min-width: 768px) {
  .row-same-height {
    overflow: hidden;
  }
  .row-same-height > [class*="col-sm"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}
/* Portrait view of all tablet devices */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .page-sidebar .sidebar-menu .menu-items > li > a {
    padding-left: 27px;
  }
  .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li {
    padding: 0px 27px 0 31px;
  }
  .icon-thumbnail {
    margin-right: 21px;
  }
  .error-page .error-container {
    width: auto;
  }
}
@media (max-width: 767px) {
  .header {
    height: 48px;
  }
  .header .notification-list,
  .header .search-link {
    display: none;
  }
  .header .header-inner {
    height: 48px;
  }
  .header .user-info-wrapper {
    display: none;
  }
  .header .search-link {
    height: 19px;
    width: 16px;
    overflow: hidden;
  }
  .jumbotron,
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .page-container .page-content-wrapper .content {
    padding-top: 48px;
    padding-bottom: 100px;
  }
  .page-sidebar .sidebar-header {
    padding: 0 12px;
  }
  .page-sidebar .sidebar-menu .menu-items > li > a {
    padding-left: 20px;
  }
  .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li {
    padding: 0px 25px 0 28px;
  }
  .icon-thumbnail {
    margin-right: 20px;
  }
  .sm-pull-bottom,
  .sm-pull-up {
    position: relative !important;
  }
  .sm-p-t-0 {
    padding-top: 0px !important;
  }
  .sm-p-r-0 {
    padding-right: 0px !important;
  }
  .sm-p-l-0 {
    padding-left: 0px !important;
  }
  .sm-p-b-0 {
    padding-bottom: 0px !important;
  }
  .sm-padding-0 {
    padding: 0px !important;
  }
  .sm-p-t-5 {
    padding-top: 5px !important;
  }
  .sm-p-r-5 {
    padding-right: 5px !important;
  }
  .sm-p-l-5 {
    padding-left: 5px !important;
  }
  .sm-p-b-5 {
    padding-bottom: 5px !important;
  }
  .sm-padding-5 {
    padding: 5px !important;
  }
  .sm-p-t-10 {
    padding-top: 10px !important;
  }
  .sm-p-r-10 {
    padding-right: 10px !important;
  }
  .sm-p-l-10 {
    padding-left: 10px !important;
  }
  .sm-p-b-10 {
    padding-bottom: 10px !important;
  }
  .sm-padding-10 {
    padding: 10px !important;
  }
  .sm-p-t-15 {
    padding-top: 15px !important;
  }
  .sm-p-r-15 {
    padding-right: 15px !important;
  }
  .sm-p-l-15 {
    padding-left: 15px !important;
  }
  .sm-p-b-15 {
    padding-bottom: 15px !important;
  }
  .sm-padding-15 {
    padding: 15px !important;
  }
  .sm-p-t-20 {
    padding-top: 20px !important;
  }
  .sm-p-r-20 {
    padding-right: 20px !important;
  }
  .sm-p-l-20 {
    padding-left: 20px !important;
  }
  .sm-p-b-20 {
    padding-bottom: 20px !important;
  }
  .sm-padding-20 {
    padding: 20px !important;
  }
  .sm-p-t-25 {
    padding-top: 25px !important;
  }
  .sm-p-r-25 {
    padding-right: 25px !important;
  }
  .sm-p-l-25 {
    padding-left: 25px !important;
  }
  .sm-p-b-25 {
    padding-bottom: 25px !important;
  }
  .sm-padding-25 {
    padding: 25px !important;
  }
  .sm-p-t-30 {
    padding-top: 30px !important;
  }
  .sm-p-r-30 {
    padding-right: 30px !important;
  }
  .sm-p-l-30 {
    padding-left: 30px !important;
  }
  .sm-p-b-30 {
    padding-bottom: 30px !important;
  }
  .sm-padding-30 {
    padding: 30px !important;
  }
  .sm-p-t-35 {
    padding-top: 35px !important;
  }
  .sm-p-r-35 {
    padding-right: 35px !important;
  }
  .sm-p-l-35 {
    padding-left: 35px !important;
  }
  .sm-p-b-35 {
    padding-bottom: 35px !important;
  }
  .sm-padding-35 {
    padding: 35px !important;
  }
  .sm-p-t-40 {
    padding-top: 40px !important;
  }
  .sm-p-r-40 {
    padding-right: 40px !important;
  }
  .sm-p-l-40 {
    padding-left: 40px !important;
  }
  .sm-p-b-40 {
    padding-bottom: 40px !important;
  }
  .sm-padding-40 {
    padding: 40px !important;
  }
  .sm-p-t-45 {
    padding-top: 45px !important;
  }
  .sm-p-r-45 {
    padding-right: 45px !important;
  }
  .sm-p-l-45 {
    padding-left: 45px !important;
  }
  .sm-p-b-45 {
    padding-bottom: 45px !important;
  }
  .sm-padding-45 {
    padding: 45px !important;
  }
  .sm-p-t-50 {
    padding-top: 50px !important;
  }
  .sm-p-r-50 {
    padding-right: 50px !important;
  }
  .sm-p-l-50 {
    padding-left: 50px !important;
  }
  .sm-p-b-50 {
    padding-bottom: 50px !important;
  }
  .sm-padding-50 {
    padding: 50px !important;
  }
  .sm-m-t-5 {
    margin-top: 5px !important;
  }
  .sm-m-r-5 {
    margin-right: 5px !important;
  }
  .sm-m-l-5 {
    margin-left: 5px !important;
  }
  .sm-m-b-5 {
    margin-bottom: 5px !important;
  }
  .sm-m-t-10 {
    margin-top: 10px !important;
  }
  .sm-m-r-10 {
    margin-right: 10px !important;
  }
  .sm-m-l-10 {
    margin-left: 10px !important;
  }
  .sm-m-b-10 {
    margin-bottom: 10px !important;
  }
  .sm-m-t-15 {
    margin-top: 15px !important;
  }
  .sm-m-r-15 {
    margin-right: 15px !important;
  }
  .sm-m-l-15 {
    margin-left: 15px !important;
  }
  .sm-m-b-15 {
    margin-bottom: 15px !important;
  }
  .sm-m-t-20 {
    margin-top: 20px !important;
  }
  .sm-m-r-20 {
    margin-right: 20px !important;
  }
  .sm-m-l-20 {
    margin-left: 20px !important;
  }
  .sm-m-b-20 {
    margin-bottom: 20px !important;
  }
  .sm-m-t-25 {
    margin-top: 25px !important;
  }
  .sm-m-r-25 {
    margin-right: 25px !important;
  }
  .sm-m-l-25 {
    margin-left: 25px !important;
  }
  .sm-m-b-25 {
    margin-bottom: 25px !important;
  }
  .sm-m-t-30 {
    margin-top: 30px !important;
  }
  .sm-m-r-30 {
    margin-right: 30px !important;
  }
  .sm-m-l-30 {
    margin-left: 30px !important;
  }
  .sm-m-b-30 {
    margin-bottom: 30px !important;
  }
  .sm-m-t-35 {
    margin-top: 35px !important;
  }
  .sm-m-r-35 {
    margin-right: 35px !important;
  }
  .sm-m-l-35 {
    margin-left: 35px !important;
  }
  .sm-m-b-35 {
    margin-bottom: 35px !important;
  }
  .sm-m-t-40 {
    margin-top: 40px !important;
  }
  .sm-m-r-40 {
    margin-right: 40px !important;
  }
  .sm-m-l-40 {
    margin-left: 40px !important;
  }
  .sm-m-b-40 {
    margin-bottom: 40px !important;
  }
  .sm-m-t-45 {
    margin-top: 45px !important;
  }
  .sm-m-r-45 {
    margin-right: 45px !important;
  }
  .sm-m-l-45 {
    margin-left: 45px !important;
  }
  .sm-m-b-45 {
    margin-bottom: 45px !important;
  }
  .sm-m-t-50 {
    margin-top: 50px !important;
  }
  .sm-m-r-50 {
    margin-right: 50px !important;
  }
  .sm-m-l-50 {
    margin-left: 50px !important;
  }
  .sm-m-b-50 {
    margin-bottom: 50px !important;
  }
  .sm-no-margin {
    margin: 0px;
  }
  .sm-no-padding {
    padding: 0px;
  }
  .sm-text-right {
    text-align: right !important;
  }
  .sm-text-left {
    text-align: left !important;
  }
  .sm-text-center {
    text-align: center !important;
  }
  .sm-pull-right {
    float: right !important;
  }
  .sm-pull-left {
    float: left !important;
  }
  .sm-pull-reset {
    float: none !important;
  }
  .sm-block {
    display: block;
  }
  .error-container {
    width: auto;
  }
  .sm-image-responsive-height {
    width: 100%;
    height: auto;
  }
}
/*** Phones ***/
@media (max-width: 480px) {
  body {
    width: 100%;
  }
  body .header {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }
  body .header .header-inner {
    height: 48px;
    text-align: center;
  }
  body .header .header-inner .toggle-email-sidebar {
    font-size: 16px;
    top: 12px;
  }
  body .header .header-inner .toggle-sidebar {
    left: 14px;
  }
  body .header .header-inner .mark-email {
    left: 35px;
    top: 14px;
  }
  body .header .header-inner .quickview-link {
    top: 14px;
  }
  body .header .notification-list,
  body .header .search-link {
    display: none;
  }
  body .header .dropdown-submenu {
    top: 12px;
  }
  body .header .notification-list,
  body .header .search-link {
    display: none;
  }
  body #overlay-search {
    font-size: 48px;
    height: 118px;
    line-height: 46px;
  }
  .page-sidebar .sidebar-header {
    height: 48px;
    line-height: 48px;
  }
  .panel .panel-heading {
    padding-left: 15px;
  }
  .panel .panel-body {
    padding: 15px;
    padding-top: 0;
  }
  .error-page {
    padding: 15px;
  }
  .error-page .error-container {
    margin-top: 30px;
    width: auto;
  }
  .error-page .pull-bottom {
    position: relative;
  }
  .map-controls {
    left: 10px;
  }
  .register-container {
    height: auto !important;
  }
  .error-container-innner {
    width: auto;
  }
}
/*** Retina Display Images **/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2) {
  .icon-set {
    background: url('../img/icons/top_tray_2x.png');
    position: relative;
    background-size: 95px 19px;
  }
  .editor-icon {
    background-image: url("../img/editor_tray_2x.png");
    background-size: 480px 40px;
  }
  .alert .close {
    background: url("../img/icons/noti-cross-2x.png") no-repeat scroll 0 0 transparent;
    background-position: -9px -10px;
    width: 10px;
    height: 9px;
    position: relative;
    opacity: 0.8;
    background-size: 114px 29px;
  }
}
